<%- include('./template/header.ejs', { title : "Register" }) %>
<%- include('./template/flash') %>
  <div class='col-xs-offset-2 col-xs-8'>
    <h1>Register</h1>
    <div class='panel panel-default' style='margin-top:25px;padding:50px;'>
      <form action="/users/register" method='post' style='text-align:center !important;'>
        Email
        <br>
        <input class='col-xs-6 login-form no-outline' name="email" type="text" value="<%= body ? body.email : '' %>">
        <br>
        <br> Username
        <br>
        <input class='col-xs-6 login-form no-outline' name="username" type="text" value="<%= body ? body.username : '' %>">
        <br>
        <br> Password
        <br>
        <input class='col-xs-6 login-form no-outline' name="password" type="password">
        <br>
        <br> Confirm Password
        <br>
        <input class='col-xs-6 login-form no-outline' name="password-confirm" type="password">
        <br>
        <br>
        <button class='normal-button form-button' type="submit">Register</button>
      </form>
    </div>
  </div>

<%- include('./template/footer.ejs') %>