<div class='panel panel-default col-xs-offset-2 col-xs-8 post-default post-template'>
    <% if(post.UserId === userId){ %>
      <div style="position:relative;float:right;">                
        <form action="/posts/<%= post.id %>/delete" method="post">
          <input class="no-outline" style="display:none" name="id" type="text" value="<%= post.id %>">
          <button class="post-button" style="border:none;background:none;" type="submit">
          <span class="icon-deleteiconbox"></span> delete
          </button>
        </form> 
      </div>
      <button class="post-button" onclick="editpost('<%=post.id%>')" style="border:none;background:none;"><span style="font-size: 1.3em" class="icon-editiconbox"></span> edit</button>
      <div class='panel panel-default post-default post-content' style=''>
      <form id='form<%=post.id%>' style='display:none' action="">
        <input class="no-outline" name='id' style='display:none' type="text">
        <textarea style='height:70px; width:900px;display:flex;border-radius:10px;' name="content" cols="30" rows="10"><%=post.cleanTag%></textarea>
        <button class="form-button normal-button" style="margin-top:10px;" type="submit">edit post</button>
      </form>
  <% }else{ %>
      <div class='panel panel-default post-default' style='padding:20px;margin-top:10px;min-height:180px; background-color: white;border-radius:15px;'>
  <% } %>
    <div id='postcontent<%=post.id%>'>
      <%- post.content %>
    </div>
  </div>

  <% if (username) { %>
    <div style="width:100%;height:30px;">                
        <form action="/posts/<%= post.id %>/comments/add" method="POST">
          <input class="no-outline comment-input" type="text" name="content" placeholder=" add comment...">
            <button class="normal-button" type="submit" style='background:none;border-radius:5px;border:1px rgba(0, 0, 0, 0.4) solid;'>Add comment</button>
        </form>
    </div>
  <% } %>

  <div id='hidecomment<%=post.id%>' class='panel panel-default post-default show-comments'>
    <a class="pointer" onclick="showComment('<%=post.id%>')" style='font-size:0.8em;'>View Comments (<%=post.Comments.length%>)</a>
  </div>
  <div id='showcomment<%=post.id%>' class='panel panel-default post-default hide-comments'>
    <a class="pointer" onclick="hideComment('<%=post.id%>')" style='font-size:0.8em;'>Hide Comments</a>

    <div id='showcomment<%=post.id%>'>
    <% for(let j in post.Comments){ %>
      <div class='panel panel-default post-default comment-template'>
        <p style='font-size:0.8em;'><%=post.Comments[j].content%></p>
        <div style="width:100%;height:100%;position:relative">
          <form method="post" action="/posts/<%=post.id%>/comments/<%=post.Comments[j].id%>/delete">
            <button class="delete-comment-button post-button">delete comment</button>
          </form>
        </div>
      </div>
    <% } %>
    </div>
  </div>
</div>
</div>