<div class='panel panel-default col-xs-offset-2 col-xs-8 post-default' style='min-height:300px; background-color: rgba(44, 44, 44, 0.1);border-radius:15px;padding:15px;'>
  <% if(post.UserId === userId){ %>
    <div style="position:relative;float:right;">
      <a>delete</a> 
      <a>edit</a>
    </div>
    <div class='panel panel-default post-default' style='padding:20px;margin-top:25px;min-height:180px; background-color: white;border-radius:15px;'>
<% }else{ %>
    <div class='panel panel-default post-default' style='padding:20px;margin-top:10px;min-height:180px; background-color: white;border-radius:15px;'>
<% } %>
      <div>
        <%- post.content %>
      </div>
    </div>
<!-- <p>1 like</p> -->
  <% if(username) { %>
    <div style="width:100%;height:30px;">                
        <form action="/posts/<%= post.id %>/comments/add" method="POST">
            <input name="content" type="text" style="border-radius:15px;border:1px rgba(0, 0, 0, 0.4) solid;width:80%;" placeholder=" add comment...">
            <button type="submit" style='background:none;border-radius:5px;border:1px rgba(0, 0, 0, 0.4) solid;'>add comment</button>
        </form>
    </div>
  <% } %>
  
  <div id='hidecomment<%=post.id%>' class='panel panel-default post-default' style='padding-top:5px;padding-left:15px;margin-top:10px;height:35px; background-color: rgba(255, 255, 255, 0.445);border-radius:20px;'>
    <a onclick="showComment('<%=post.id%>')" style='font-size:0.8em;'>View Comments (18)</a>
  </div>
  <div id='showcomment<%=post.id%>' class='panel panel-default post-default' style='padding:15px;padding-top:5px;padding-left:15px;margin-top:10px;min-height:100px; background-color: rgba(255, 255, 255, 0.445);border-radius:20px;display:none;'>
    <a onclick="hideComment('<%=post.id%>')" style='font-size:0.8em;'>Hide Comments</a>
    <div id='showcomment<%=post.id%>' class='panel panel-default post-default' style='padding:30px;margin-top:10px;min-height:75px; background-color: rgba(255, 255, 255, 0.568);border-radius:10px;'>
      <p style='font-size:0.8em;'>Comment1</p>
    </div>
    <div id='showcomment<%=post.id%>' class='panel panel-default post-default' style='padding:30px;margin-top:10px;min-height:75px; background-color: rgba(255, 255, 255, 0.568);border-radius:10px;'>
      <p style='font-size:0.8em;'>Comment2</p>
    </div>
    <div id='showcomment<%=post.id%>' class='panel panel-default post-default' style='padding:30px;margin-top:10px;min-height:75px; background-color: rgba(255, 255, 255, 0.568);border-radius:10px;'>
      <p style='font-size:0.8em;'>Comment3</p>
    </div>
  </div>
</div>
</div>